.experience{

    min-height:100vh;

    padding:120px 0;

}

.timeline{

    position:relative;

    margin-top:70px;

    padding-left:40px;

    border-left:2px solid rgba(255,255,255,.08);

}

.timeline-item{

    position:relative;

    margin-bottom:70px;

}

.timeline-item:last-child{

    margin-bottom:0;

}

.timeline-dot{

    position:absolute;

    left:-51px;

    top:5px;

    width:20px;

    height:20px;

    border-radius:50%;

    background:#00E5FF;

    border:4px solid #0B1120;

    box-shadow:0 0 25px #00E5FF;

}

.timeline-content{

    background:#111827;

    border:1px solid rgba(255,255,255,.06);

    border-radius:22px;

    padding:35px;

    transition:.35s;

}

.timeline-content:hover{

    transform:translateY(-8px);

    border-color:#00E5FF;

    box-shadow:0 20px 60px rgba(0,0,0,.35);

}

.duration{

    display:inline-block;

    color:#00E5FF;

    margin-bottom:15px;

    letter-spacing:2px;

    font-size:14px;

}

.timeline-content h3{

    color:white;

    font-size:30px;

    margin-bottom:8px;

}

.timeline-content h4{

    color:#8B5CF6;

    margin-bottom:20px;

    font-size:20px;

}

.timeline-content p{

    color:#9CA3AF;

    line-height:1.9;

    font-size:17px;

}

@media(max-width:768px){

    .timeline{

        padding-left:25px;

    }

    .timeline-dot{

        left:-36px;

    }

    .timeline-content{

        padding:25px;

    }

    .timeline-content h3{

        font-size:24px;

    }

}