.hero{

    min-height:100vh;

    display:grid;

    grid-template-columns:1fr 1fr;

    align-items:center;

    gap:80px;

    padding-top:140px;

}

.hero-left{

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.hero-tag{

    color:#22D3EE;

    letter-spacing:6px;

    font-size:18px;

    margin-bottom:25px;

}

.hero-left h1{

    font-size:90px;

    line-height:1;

    color:white;

    margin-bottom:35px;

}

.hero-left span{

    color:#8B5CF6;

}

.hero-description{

    color:#9CA3AF;

    font-size:22px;

    line-height:1.8;

    max-width:620px;

}

.hero-left button{

    width:250px;

    margin-top:45px;

    padding:18px;

    border:none;

    cursor:pointer;

    border-radius:14px;

    color:white;

    font-size:18px;

    background:linear-gradient(90deg,#06B6D4,#8B5CF6);

    transition:.35s;

}

.hero-left button:hover{

    transform:translateY(-6px);

}

.hero-right{

    display:flex;

    justify-content:center;

    align-items:center;

}

.hero-right{

    height:650px;

}

.hero-right::before{

    content:"";

    width:620px;

    height:620px;

    border-radius:35px;

    background:#151E2F;

    border:1px solid rgba(255,255,255,.06);

    display:flex;

}