.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 70px;

    background:rgba(5,8,22,.70);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.06);

    z-index:999;

}

.logo{

    font-size:30px;

    font-weight:700;

    color:white;

    letter-spacing:1px;

    user-select:none;

}

.logo span{

    color:var(--accent);

}

.menu{

    display:flex;

    gap:38px;

    list-style:none;

}

.menu li a{

    color:white;

    font-size:15px;

    transition:.30s;

    position:relative;

}

.menu li a:hover{

    color:var(--accent);

}

.menu li a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0%;

    height:2px;

    background:var(--accent);

    transition:.3s;

}

.menu li a:hover::after{

    width:100%;

}

.resumeBtn{

    padding:14px 30px;

    border-radius:12px;

    color:white;

    font-size:15px;

    font-weight:600;

    background:linear-gradient(
        90deg,
        #06B6D4,
        #8B5CF6
    );

    transition:.3s;

    box-shadow:
    0 0 25px rgba(6,182,212,.20);

}

.resumeBtn:hover{

    transform:translateY(-4px);

    box-shadow:
    0 0 40px rgba(139,92,246,.40);

}