.skills{

    min-height:100vh;

    padding:120px 0;

}

.skills-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

    margin-top:60px;

}

.skill-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.06);

    border-radius:22px;

    padding:35px;

    transition:.35s;

}

.skill-card:hover{

    transform:translateY(-10px);

    border-color:#00E5FF;

    box-shadow:0 20px 50px rgba(0,0,0,.35);

}

.skill-card h3{

    color:white;

    font-size:30px;

    margin-bottom:30px;

}

.skill-list{

    display:flex;

    flex-wrap:wrap;

    gap:15px;

}

.skill-badge{

    background:#1F2937;

    color:#E5E7EB;

    padding:12px 20px;

    border-radius:40px;

    font-size:15px;

    transition:.3s;

    border:1px solid transparent;

}

.skill-badge:hover{

    background:#8B5CF6;

    border-color:#00E5FF;

    color:white;

    transform:translateY(-3px);

}

@media(max-width:992px){

    .skills-grid{

        grid-template-columns:1fr;

    }

}

@media(max-width:768px){

    .skills{

        padding:90px 0;

    }

    .skill-card{

        padding:28px;

    }

    .skill-card h3{

        font-size:24px;

    }

}